.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.body{
  background-color: rgb(38, 66, 73);
}
.board{
  /* display: flex; */
  width: 98%;
  /* border: 1px solid red; */
  justify-content: center;
  margin-top:20px;
}









